@using Microsoft.AspNetCore.Identity
@using Affiliate_Shopee.Areas.Identity.Data

@inject SignInManager<Affiliate_ShopeeUser> SignInManager
@inject UserManager<Affiliate_ShopeeUser> UserManager
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Affiliate_Shopee</title>
    <meta name="description" content="">

    <link rel="canonical" href="index.html" />
    <link rel="dns-prefetch" href="index.html">
    <link rel="dns-prefetch" href="http://bizweb.dktcdn.net/">
    <link rel="dns-prefetch" href="http://www.google-analytics.com/">
    <link rel="dns-prefetch" href="http://www.googletagmanager.com/">
    <link rel="icon" href="~/image/Asset 7.png"
          type="image/x-icon" />
    <link rel="preload" as="style" type="text/css"
          href="~/bizweb.dktcdn.net/100/270/860/themes/606449/assets/bootstrap.scss24cb.css?1705895589400"
          onload="this.rel='stylesheet'" />
    <link href="~/bizweb.dktcdn.net/100/270/860/themes/606449/assets/bootstrap.scss24cb.css?1705895589400"
          rel="stylesheet" type="text/css" media="all" />
    <link rel="preload" as="style" type="text/css"
          href="~/bizweb.dktcdn.net/100/270/860/themes/606449/assets/base.scss24cb.css?1705895589400"
          onload="this.rel='stylesheet'" />
    <link href="~/bizweb.dktcdn.net/100/270/860/themes/606449/assets/base.scss24cb.css?1705895589400" rel="stylesheet"
          type="text/css" media="all" />
    <link rel="preload" as="style" type="text/css"
          href="~/bizweb.dktcdn.net/100/270/860/themes/606449/assets/ant-kitchen.scss24cb.css?1705895589400"
          onload="this.rel='stylesheet'" />
    <link href="~/bizweb.dktcdn.net/100/270/860/themes/606449/assets/ant-kitchen.scss24cb.css?1705895589400"
          rel="stylesheet" type="text/css" media="all" />
    <link rel="preload" as="script"
          href="~/bizweb.dktcdn.net/100/270/860/themes/606449/assets/jquery-2.2.3.min24cb.js?1705895589400" />
    <link rel="preload" as="style" type="text/css" href="~/maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    <link rel="stylesheet" href="~/css/search.css" />
    <link rel="stylesheet" href="~/ASPNETCoreIdentityDemo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/register.js"></script>

    @* <script src="~/js/SearchAll.js"></script> *@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Đường dẫn đến thư viện Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <!-- Firebase App (the core Firebase SDK) -->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-messaging.js"></script>
</head>
<body class="bg-index">
    <div id="box-wrapper">
        <header class="header">
            <div class="top-header">
                <div class="container">
                    <div class="row" style="display:flex;align-items:center">
                        <div class="col-md-1 col-sm-6 col-xs-5 col-100-h">
                            <a href="/Home/Index" class="logo-wrapper">
                                <img style="width:50px" src="/image/Asset7w.png"
                                     alt="logo SMO MEDIA" />
                            </a>
                        </div>
                        <div class="col-md-5">
                            <button type="button" class="navbar-toggle collapsed visible-sm visible-xs"
                                    id="trigger-mobile">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="search-auto clearfix evo-search">
                                <form class="input-group search-bar search_form evo-search-form" action="/Home/SearchAll" method="get" id="searchForm">
                                    <input type="search" name="query" value="" placeholder="Nhập tên DEAL cần tìm..." id="searchInput" class="input-group-field st-default-search-input search-text auto-search-ant">
                                    <span class="input-group-btn">
                                        <button class="btn icon-fallback-text">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </span>
                                </form>
                            </div>
                            <div id="searchterm">
                                <ul>
                                    <li id="searchResults">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 hidden-sm hidden-xs" style="display:flex">
                            <div class="mydeal" style="display:flex;width:200px;align-items:center;">
                                <img src="~/image/FileDone.png" style="width:20px;height:20px" />
                                <span style="align-items:center"> <a href="/Orders/Index" title="Deal của tôi" style="color:#fff;margin-left:10px">Deal của tôi</a></span>
                            </div>
                            <div class="myhotline" style="display:flex;width:200px;align-items:center;">
                                <img src="~/image/Warehouse.png" style="width:20px;height:20px" />
                                <span style="align-items:center;color:#fff;margin-left:10px"><a asp-area="" asp-controller="Home" asp-action="RedirectToSeller" title="Kênh người bán" style="color:#fff;margin-left:10px">Kênh người bán</a></span>
                            </div>
                            <div class="index-account" style="border:1px solid #333;padding:10px;border-radius:20px;background-color:#fff">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login" title="Tài khoản" style="color:#333">@UserManager.GetUserName(User)</a>
                                }
                                else
                                {
                                    <a class="nav-link text-dark" id="login" title="Tài khoản" style="color:#333">Tài khoản</a>
                                }
                                <ul class="navbar-nav" style="border-radius:10px">
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <li class="nav-item">
                                            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Chào @UserManager.GetUserName(User)!</a>
                                        </li>
                                        <li class="nav-item">
                                            @{
                                                var userId = UserManager.GetUserId(User);
                                                var userDetailsUrl = Url.Action("Details", "AspNetUsers", new { area = "", id = userId });
                                            }
                                            <a href="@userDetailsUrl">Thông tin tài khoản</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Home/Complain">Danh sách khiếu nại</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Identity/Account/Manage/ChangePassword">Đổi mật khẩu</a>

                                        </li>
                                        <li class="nav-item">
                                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark" style="background-color:gray;width:100%;color:#fff;border-radius:10px">Đăng xuất</button>
                                            </form>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item" style="width:100%;text-align:center">
                                            <a class="nav-link text-dark" style="font-weight:bold" id="register" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
                                        </li>
                                        <li class="nav-item" style="width:100%;text-align:center">
                                            <a class="nav-link text-dark" style="font-weight:bold" id="login" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="awe-section-2">
            <div class="container">
                <div class="section_policy">
                    <div class="row">
                        <div class="section_policy_content col-md-3 col-sm-3 col-xs-6">
                            <img src="~/image/image 3.png"
                                 alt="Bảo đảm chất lượng" />
                            <div class="section-policy-padding">
                                <h3>Bảo đảm chất lượng</h3>
                                <div class="section_policy_title">Sản phẩm bảo đảm chất lượng.</div>
                            </div>
                        </div>
                        <div class="section_policy_content col-md-3 col-sm-3 col-xs-6">
                            <img src="~/image/image 2.png"
                                 alt="Miễn phí giao hàng" />
                            <div class="section-policy-padding">
                                <h3>Kiểm duyệt người bán</h3>
                                <div class="section_policy_title">Đảm bảo người bán thật.</div>
                            </div>
                        </div>
                        <div class="section_policy_content col-md-3 col-sm-3 col-xs-6">
                            <img src="~/image/image 4.png"
                                 alt="Hỗ trợ 24/7" />
                            <div class="section-policy-padding">
                                <h3>Deal hời lên đến 80%</h3>
                                <div class="section_policy_title">
                                    <a href="tel:0123456789"
                                       title="0123456789">
                                        Tiết kiệm 80% so với giá sản phẩm
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="section_policy_content col-md-3 col-sm-3 col-xs-6">
                            <img src="~/image/image 5.png"
                                 alt="Đổi trả hàng" />
                            <div class="section-policy-padding">
                                <h3>Đánh giá chất lượng </h3>
                                <div class="section_policy_title">Sản phẩm rẻ hơn thực tế</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        @RenderBody()
        <footer class="footer " style="margin-bottom:0px">
            <div class="site-footer">
                <div class="container">
                    <div class="footer-inner padding-top-10 padding-bottom-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 footer-widget">
                                <h4>Liên hệ</h4>
                                <ul class="widget-menu contact-info-page">

                                    <li>
                                        <i class="fa-solid fa-location-dot"></i> thôn Liêu Hạ, xã Tân Lập,<br/> huyện Yên Mỹ, tỉnh Hưng Yên
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-phone"></i> <a href="tel:094.817.8386" title="094.817.8386"> 094.817.8386</a>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-envelope"></i> <a href="mailto:smomediahy@gmail.com" title="smomediahy@gmail.com"> smomediahy@gmail.com</a>
                                    </li>
                                </ul>
                                <ul class="social">
                                    <li class="fb">
                                        <a href="https://www.facebook.com/smomedia.jsc" target="_blank" aria-label="Facebook" title="Facebook">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px"
                                                 viewBox="0 0 96.124 96.123"
                                                 style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve">
                                            <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803   c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654   c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246   c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"
                                                  data-original="#000000" class="active-path" data-old_color="#000000"
                                                  fill="#EBE7E7" />
                                            </svg>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 footer-widget">
                                <h4>Về SMO MEDIA</h4>
                                <ul class="list-menu">

                                    <li><a href="#" title="Trang chủ">Trang chủ</a></li>

                                    <li>
                                        <a href="https://smomedia.vn/" title="Tính năng nổi bật">Tính năng nổi bật</a>
                                    </li>

                                    <li><a href="https://smomedia.vn/" title="Giới thiệu">Giới thiệu</a></li>

                                    <li><a href="https://smomedia.vn/" title="Sản phẩm">Sản phẩm</a></li>

                                    <li><a href="https://smomedia.vn/" title="Tin tức">Tin tức</a></li>

                                    <li><a href="https://smomedia.vn/" title="Liên hệ">Liên hệ</a></li>

                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 footer-widget">
                                <h4>SÀN TIẾP THỊ LIÊN KẾT</h4>
                                <div class="footer-payment">
                                    @* <img src="http://bizweb.dktcdn.net/100/270/860/themes/606449/assets/payment_1.svg?1705895589400"
                                         alt="Vận chuyển & Thanh toán" /> *@
                                    <a href="https://shopee.vn/">
                                        <i class="fa-brands fa-shopify" style="font-size:50px;color:#FA5230"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-copyright">
                            <span>
                                © Bản quyền thuộc về <b>SMO MEDIA</b> <span class="hidden-f">|</span> Cung cấp bởi <a href=""
                                                                                                                      title="SMO MEDIA" target="_blank" rel="nofollow">SMO MEDIA</a>
                            </span>
                        </div>
                    </div>

                    <div class="back-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></div>

                </div>
            </div>
        </footer>
    </div>
    <div class="ajax-load">
        <span class="loading-icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                 y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;"
                 xml:space="preserve">
            <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s"
                     repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s"
                     repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s"
                     repeatCount="indefinite" />
                </rect>
            <rect x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s"
                     repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s"
                     repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s"
                     repeatCount="indefinite" />
                </rect>
            <rect x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s"
                     repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s"
                     repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s"
                     repeatCount="indefinite" />
                </rect>
            </svg>
        </span>
    </div>

    <div class="loading awe-popup">
        <div class="overlay"></div>
        <div class="loader" title="2">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                 y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;"
                 xml:space="preserve">
            <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s"
                     repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s"
                     repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s"
                     repeatCount="indefinite" />
                </rect>
            <rect x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s"
                     repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s"
                     repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s"
                     repeatCount="indefinite" />
                </rect>
            <rect x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s"
                     repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s"
                     repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s"
                     repeatCount="indefinite" />
                </rect>
            </svg>
        </div>

    </div>

    <div class="error-popup awe-popup">
        <div class="overlay no-background"></div>
        <div class="popup-inner content">
            <div class="error-message"></div>
        </div>
    </div>

    <div class="backdrop__body-backdrop___1rvky"></div>
    <link rel="preload" as="script"
          href="~/bizweb.dktcdn.net/100/270/860/themes/606449/assets/appear24cb.js?1705895589400" />
    <script src="~/bizweb.dktcdn.net/100/270/860/themes/606449/assets/appear24cb.js?1705895589400"
            type="text/javascript"></script>
    <link rel="preload" as="script"
          href="~/bizweb.dktcdn.net/100/270/860/themes/606449/assets/cs.script24cb.js?1705895589400" />
    <script src="~/bizweb.dktcdn.net/100/270/860/themes/606449/assets/cs.script24cb.js?1705895589400"
            type="text/javascript"></script>

    <link rel="preload" as="script"
          href="~/bizweb.dktcdn.net/100/270/860/themes/606449/assets/main24cb.js?1705895589400" />
    <script src="~/bizweb.dktcdn.net/100/270/860/themes/606449/assets/main24cb.js?1705895589400"
            type="text/javascript"></script>

    <link rel="preload" as="style" type="text/css"
          href="~/maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


    <a class="wolf-chat-plugin" href="https://m.me/smomedia.jsc" target="_blank">
        <div style="margin-left: -2px; margin-right: 6px;">
            <div style="display: flex; align-items: center;">
                <svg width="24" height="24" viewBox="0 0 24 24"
                     fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M0.75 11.9125C0.75 5.6422 5.66254 1 12 1C18.3375 1 23.25 5.6422 23.25 11.9125C23.25 18.1828 18.3375 22.825 12 22.825C10.8617 22.825 9.76958 22.6746 8.74346 22.3925C8.544 22.3376 8.33188 22.3532 8.1426 22.4368L5.90964 23.4224C5.32554 23.6803 4.66618 23.2648 4.64661 22.6267L4.58535 20.6253C4.57781 20.3789 4.46689 20.1483 4.28312 19.9839C2.09415 18.0264 0.75 15.1923 0.75 11.9125ZM8.54913 9.86084L5.24444 15.1038C4.92731 15.6069 5.54578 16.1739 6.01957 15.8144L9.56934 13.1204C9.80947 12.9381 10.1413 12.9371 10.3824 13.118L13.0109 15.0893C13.7996 15.6809 14.9252 15.4732 15.451 14.6392L18.7556 9.39616C19.0727 8.893 18.4543 8.326 17.9805 8.68555L14.4307 11.3796C14.1906 11.5618 13.8587 11.5628 13.6176 11.3819L10.9892 9.41061C10.2005 8.81909 9.07479 9.02676 8.54913 9.86084Z"
                          fill="white"></path>
                </svg>
            </div>
        </div>
        <div style="color: white; display: flex; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen, Ubuntu, Cantarell, &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif; font-size: 17px; font-style: normal; font-weight: 600; line-height: 22px; user-select: none; white-space: nowrap;">
            Chat
        </div>
    </a>
    @RenderSection("scripts", required: false)
    <script src="~/js/search.js" type="text/javascript"></script>
</body>
</html>
