@model Affiliate_Shopee.Models.Deal
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}


<link rel="stylesheet" href="~/css/deal_create.css" />
<h5 style="font-size:20px;margin-left:10px;color:#333;font-weight:700">Thông tin deal</h5>
<hr />
<div>

    <div class="row" style="margin:20px;justify-content:center">
        <div class="col-md-4">
            <form asp-action="Edit" method="post">
                <div class="form-group">
                    <label asp-for="Status" class="control-label">Trạng thái hiện tại: @Html.DisplayFor(model => model.Status)</label>
                    @if (Model.Status != "Hết hạn")
                    {
                        <select asp-for="Status" class="form-control">
                            @if (Model.Status == "Chờ duyệt")
                            {
                                <option value="Đang hoạt động">Duyệt deal</option>
                            }
                            else if (Model.Status == "Đang hoạt động" || Model.Status == "Khóa deal")
                            {
                                <option value="Khóa deal">Khóa deal</option>
                                <option value="Đang hoạt động">Bỏ khóa</option>
                            }
                        </select>
                    }
                    else
                    {
                        
                    }

                </div>
                <input type="hidden" asp-for="Id" />
                @if (Model.Status != "Hết hạn")
                {
                    <input type="submit" class="btn btn-primary" value="Lưu và Xác nhận" />
                }
                else
                {
                    
                }
            </form>
            <div class="form-group">
                <label asp-for="ImageDeal" class="control-label">Hình ảnh:  </label>
                <div style="display:flex">
                    @if (!string.IsNullOrEmpty(Model.ImageDeal))
                    {
                        <img src="~/image/imagesellerdeals/@Model.ImageDeal" style="width:100px;height:100px;margin-left:5px" />
                    }
                    else
                    {
                        <span>Không có ảnh</span>
                    }
                </div>
                <span id="ImageDealError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên sản phẩm: </label><br />
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="form-group">
                <label asp-for="ShopeeLink" class="control-label">Link sản phẩm trên Shoppe:</label> <br />
                <a href="@Model.ShopeeLink" target="_blank">@Model.ShopeeLink</a>

            </div>



            <div class="form-group">
                <label asp-for="Note" class="control-label">Ghi chú: </label>
                @Html.DisplayFor(model => model.Note)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Slot" class="control-label">Số lượng Slot:</label>
                @Html.DisplayFor(model => model.Slot)
            </div>
            <div class="form-group">
                <label asp-for="ShopeePrice" class="control-label">Giá trên sàn: </label>
                @string.Format("{0:0,0}", Model.ShopeePrice) vnđ
            </div>
            <div class="form-group">
                <label asp-for="RefundPrice" class="control-label">Số tiền hoàn lại:  </label>
                @string.Format("{0:0,0}", Model.RefundPrice) vnđ
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Danh mục Deal: </label>
                @Html.DisplayFor(model => model.Category.Name)
            </div>

            <div class="form-group">
                <label asp-for="IsFreeship" class="control-label">Free Ship Extra: </label>
                @if (Model.IsFreeship == 1)
                {
                    <span>Có</span>
                }
                else
                {
                    <span>Không</span>
                }
            </div>


            <div class="form-group">
                <label asp-for="Location" class="control-label">Khu vực của shop: </label>
                @Html.DisplayFor(model => model.Location)
            </div>

            <div class="form-group">
                <label class="control-label">Loại hết hạn của Deal: </label>

                <td>@string.Format("{0:dd/MM/yyyy HH:mm:ss}", Model.DealExpiredAt)</td>
            </div>
            @*  <div class="form-group">
            <label class="control-label">Ký quỹ</label>
            <p>
            Quyền lợi khi tham gia ký quỹ <br />
            Không yêu cầu duyệt tài khoản cấp 2 <br />
            Xử lý và duyệt deal nhanh hơn <br />
            Hiển thị logo "Đảm bảo hoàn tiền" cho Deal để tăng lượt mua <br />
            Tự động hoàn tiền cho các lượt mua deal đã duyệt <br />
            </p>
            </div> *@

        </div>
        <input type="hidden" id="Nameimg" name="Nameimg" />
    </div>
</div>



