@model X.PagedList.IPagedList<Affiliate_Shopee.Models.Deal>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
    var i = 1;
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/sellerDealIndex.css" />
<div class="container-fluid">
    <div class="row mt-3 mb-4">
        <div class="col-md-6">
            <h4>Quản lý Deal</h4>
            <div id="toast-container" class="toast-top-right"></div>
        </div>
    </div>
    <div style="background-color:#f5f5f5;margin:5px;padding:10px">
        <div class="row" style="justify-content:center;">
            <div class="col-md-2" style="padding-right:0px">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="textsearch" placeholder="Tìm kiếm theo mã Deal" data-page-number="@Model.PageNumber">
                </div>
            </div>
            <div class="col-md-2" style="padding-right:0px">
                <div class="input-group mb-3">
                    <select id="statusDropdown" class="form-select" style="width:100%;" data-page-number="@Model.PageNumber">
                        <option value="">Chọn trạng thái</option>
                        <option value="Chờ duyệt">Chờ duyệt</option>
                        <option value="Đang hoạt động">Đang hoạt động</option>
                        <option value="Khóa deal">Đã khóa</option>
                        <option value="Hết hạn">Hết hạn</option>
                        <option value="All">Tất cả</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2" style="padding-right:0px">

                <div class="input-group">
                    <input type="date" class="form-control" id="createdAtInput">
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <button id="filterButton" class="btn btn-primary" style="margin-right:5px;"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button id="cancelButton" class="btn btn-danger"><i class="fa-solid fa-rotate-right"> </i></button>
                </div>
            </div>
        </div>
        <div class="container" style="margin-left:500px">
           
        </div>
        <div class="card shadow">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                @if (Model.HasPreviousPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1,textsearch = ViewBag.TextSearch, status = ViewBag.Status, createdat = ViewBag.CreatedAt,  })" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                }
                                @for (var pageNumber = 1; pageNumber <= Model.PageCount; pageNumber++)
                                {
                                    <li class="page-item @(pageNumber == Model.PageNumber ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("Index", new { page = pageNumber,textsearch = ViewBag.TextSearch, status = ViewBag.Status, createdat = ViewBag.CreatedAt })">@pageNumber</a>
                                    </li>
                                }
                                @if (Model.HasNextPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1,textsearch = ViewBag.TextSearch, status = ViewBag.Status, createdat = ViewBag.CreatedAt })" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align:center">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã Deal</th>
                                <th>Tên Deal</th>
                                <th>Ngày tạo</th>
                                <th>Tên người bán</th>
                                <th>Trạng thái</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(((Model.PageNumber - 1) * Model.PageSize) + (i))</td>
                                        <td>@(item.Code)</td>
                                        <td style="text-align:left"> <a asp-action="Details" asp-controller="Deals" asp-route-id="@item.Id" style="text-decoration:none">@Html.DisplayFor(modelItem => item.Name)</a></td>
                                        <td>@string.Format("{0:dd/MM/yyyy HH:mm:ss}", item.CreatedAt)</td>
                                        <td>
                                            @if (item.User != null)
                                            {
                                                @item.User.Name
                                            }
                                            else
                                            {
                                                <text>N/A</text>
                                            }
                                        </td>
                                        <td>
                                            <div style="border-radius:10px;width:150px;margin:0 auto;color:white;background-color:
                                         @if (item.Status == "Chờ duyệt")
                                         {
                                            <text>#3897E9</text>
                                        }
                                        else if (item.Status == "Đang hoạt động")
                                        {
                                            <text>#2A2A86</text>
                                        }
                                        else if (item.Status == "Khóa deal")
                                        {
                                            <text>
                                                #660000
                                            </text>
                                        }
                                        else if (item.Status == "Hết hạn")
                                        {
                                            <text>#171A1F</text>
                                        }
                                        ;">@item.Status</div>
                                        </td>


                                    </tr>
                                    i++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7" style="text-align: center;">Không có dữ liệu.</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                @if (Model.HasPreviousPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1,textsearch = ViewBag.TextSearch, status = ViewBag.Status, createdat = ViewBag.CreatedAt,  })" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                }
                                @for (var pageNumber = 1; pageNumber <= Model.PageCount; pageNumber++)
                                {
                                    <li class="page-item @(pageNumber == Model.PageNumber ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("Index", new { page = pageNumber,textsearch = ViewBag.TextSearch, status = ViewBag.Status, createdat = ViewBag.CreatedAt })">@pageNumber</a>
                                    </li>
                                }
                                @if (Model.HasNextPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1,textsearch = ViewBag.TextSearch, status = ViewBag.Status, createdat = ViewBag.CreatedAt })" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script src="~/js/AdminDealIndexjs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
}
